.nav-content {
    h2 {
        color: #b6753c;
        font-weight: 400;
    }
    p {
        text-align: justify;
        font-size: 1vw;
        font-family: 'ebrima';
        color: #2e2d2c;
        padding-bottom: 10px;
    }
    ul 
    {
        list-style-type: disc;
        li {
            color: #2e2d2c;
            text-align: justify;
            margin-left: 3vw;
        }
        li::marker {
            color: green;
            font-size: x-large;
        }
    }
}

.crsOff {
    h2 {
        color: black;
        font-weight: bold;
    }
    h4 {
        color: #b6753c;
        font-weight: 500;
    }
    p {
        font-size: 0.7vw;
    }
}