.nav-content {
    h2 {
        color: #b6753c;
        font-weight: 400;
        font-size: 1.5rem;
    }
    p {
        text-align: justify;
        font-size: 16px;
        // font-family: 'ebrima';
        color: #2e2d2c;
        padding-bottom: 10px;
    }
    ol {
        li {
            font-size: 1.3rem;
        }
    }
    ul 
    {
        list-style-type: disc;
        li {
            color: #2e2d2c;
            text-align: justify;
            margin-left: 3vw;
            font-size: 16px;
        }
        li::marker {
            color: green;
            font-size: x-large;
        }
    }
}

.crsOff {
    h2 {
        color: black;
        font-weight: bold;
    }
    h4 {
        color: #b6753c;
        font-weight: 500;
    }
    p {
        font-size: 16px;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    thead {
        background-color: #94e881;
    }
    tbody {
        td {
            ul {
                li {
                    text-align: left !important;
                }
            }
        }
    }

    td {
      border: 1.5px solid #3e3e3e;
      text-align: center;
      padding: 8px;
    }
  }
  