.photo-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Add space between items */
  //   justify-content: space-between;
  padding: 16px;
}

.photo-item {
  flex-grow: 0 !important;
  flex: 1 1 calc(33.333% - 16px); /* 3 columns */
  display: flex;
  justify-content: center;
  transition: .5s ease-in-out;
}

.photo-item img {
//   width: 100%;
  width: 250px;
  height: 300px;
  border-radius: 8px; /* Optional: Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .photo-item {
    flex: 1 1 calc(50% - 16px); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .photo-item {
    flex: 1 1 100%; /* 1 column on mobile */
  }
}

.faculty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
